<div class="form-container">
  <h2>Registro de Cliente</h2>

  <form #formCliente="ngForm" (ngSubmit)="registrarCliente()" *ngIf="!qrGenerado">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="cliente.nombre" name="nombre" required />

    <label>Teléfono:</label>
    <input type="number" [(ngModel)]="cliente.telefono" name="telefono" required min="1" />

    <label>Direccion:</label>
    <input type="text" [(ngModel)]="cliente.direccion" name="direccion" required />

    <button type="submit" [disabled]="formCliente.invalid">Registrar</button>

    <button
      type="button"
      class="btn-secundario"
      (click)="irAQrsGenerados()"
      style="margin-left: 0; margin-top: 1rem; width: 100%;">
      Ver QRs generados
    </button>
  </form>

  <div *ngIf="qrGenerado" class="qr-container">
    <p>¡Se generó el QR!</p>
    <app-qr-generator [qrData]="cliente.id || ''"></app-qr-generator>
  </div>
</div>

