<div class="form-container">
  <h2>Registro de Cliente</h2>

  <form (ngSubmit)="registrarCliente()" *ngIf="!qrGenerado">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="cliente.nombre" name="nombre" required>

    <label>Teléfono:</label>
    <input type="number" [(ngModel)]="cliente.telefono" name="telefono">

    <label>Direccion:</label>
    <input type="text" [(ngModel)]="cliente.direccion" name="direccion">

    <button type="submit">Registrar</button>
  </form>

  <div *ngIf="qrGenerado" class="qr-container">
    <h3>QR generado para {{ cliente.nombre }}</h3>
    <p>ID: {{ cliente.id }}</p>
    <qrcode [qrdata]="cliente.id" [width]="200"></qrcode>

    <button (click)="limpiarFormulario()">Registrar otro</button>
  </div>
</div>
