<nav [class.nav-hidden]="navHidden">
  <!-- Ícono del menú hamburguesa -->
  <div class="menu-icon" (click)="toggleMenu()">☰</div>

  <!-- Lista de enlaces -->
  <ul class="nav-links" [class.active]="isMenuOpen">
    <li>
      <a routerLink="/" (click)="onNavClick()">
        <mat-icon fontIcon="home"></mat-icon> Inicio
      </a>
    </li>

    <li
      *ngIf="
        estaLogueado && (rolUsuario === 'admin' || rolUsuario === 'repartidor')
      "
    >
      <a routerLink="/lista-pedidos" (click)="onNavClick()">
        <mat-icon fontIcon="list"></mat-icon> Lista de Pedidos
      </a>
    </li>

    <li>
      <a
        *ngIf="estaLogueado && rolUsuario === 'repartidor'"
        routerLink="/repartidor/ruta-del-dia"
        (click)="onNavClick()"
      >
        <mat-icon fontIcon="route"></mat-icon> Ruta del Día
      </a>
    </li>

    <!-- SOLO mostrar "Login" si NO está logueado -->
    <li *ngIf="!estaLogueado">
      <a routerLink="/auth/login" (click)="onNavClick()">
        <mat-icon fontIcon="login"></mat-icon> Login
      </a>
    </li>

    <li
      *ngIf="
        estaLogueado &&
        (rolUsuario === 'repartidor' ||
          rolUsuario === 'admin' ||
          rolUsuario === 'cliente')
      "
    >
      <a routerLink="/repartidor/registrar-pedido" (click)="onNavClick()">
        <mat-icon fontIcon="add_shopping_cart"></mat-icon> Registrar Pedido
      </a>
    </li>

    <li *ngIf="estaLogueado && rolUsuario === 'admin'">
      <a routerLink="/registro-cliente" (click)="onNavClick()">
        <mat-icon fontIcon="qr_code"></mat-icon> Registrar Cliente
      </a>
    </li>

    <li *ngIf="estaLogueado && rolUsuario === 'admin'">
      <a routerLink="/admin/dashboard/" (click)="onNavClick()">
        <mat-icon fontIcon="receipt_long"></mat-icon> Control
      </a>
    </li>

    <!-- <li *ngIf="estaLogueado && rolUsuario === 'admin'">
      <a routerLink="/registro-usuario" (click)="onNavClick()">
        <mat-icon fontIcon="person_add"></mat-icon> Registrar Usuario
      </a>
    </li> -->

    <li *ngIf="estaLogueado && rolUsuario === 'admin'">
      <a routerLink="/gestion-usuario" (click)="onNavClick()">
        <mat-icon fontIcon="manage_accounts"></mat-icon> Gestión de Usuarios
      </a>
    </li>

    <!-- Cerrar sesión visible solo si está logueado -->
    <li *ngIf="estaLogueado">
      <a (click)="logout(); onNavClick()">
        <mat-icon fontIcon="logout"></mat-icon> Cerrar sesión
      </a>
    </li>
  </ul>
</nav>
