<div *ngIf="false">
  <h2>Registrar usuario existente (ya autenticado)</h2>
  <form (ngSubmit)="registrarUsuario()">
    <label> UID: <input [(ngModel)]="uid" name="uid" required /> </label> <br />
    <label>
      Correo: <input [(ngModel)]="correo" name="correo" required />
    </label>
    <br />
    <label>
      Rol:
      <select [(ngModel)]="rol" name="rol">
        <option value="cliente">Cliente</option>
        <option value="repartidor">Repartidor</option>
        <option value="admin">Admin</option>
      </select>
    </label>
    <br /><br />
    <button type="submit">Registrar</button>
  </form>
</div>
