<div class="qr-lista-grid">
  <div style="text-align: right">
    <button type="button" class="btn-regresar" (click)="irARegistro()">
      ← Volver al registro
    </button>
  </div>

  <h3 style="margin-top: 1rem">Consultar QRs generados</h3>

  <div class="qr-grid">
    <div *ngFor="let cliente of clientes" class="qr-card">
      <p class="nombre-cliente">
        <strong>{{ cliente.nombre | capitalize }}</strong>
      </p>
      <app-qr-generator [qrData]="cliente.id || ''"></app-qr-generator>
      <button
        type="button"
        class="btn-eliminar"
        (click)="eliminarQr(cliente.id!)"
      >
        🗑️ Eliminar
      </button>
    </div>
  </div>
</div>
